{% extends 'inventario_cooperativa/base.html' %} {% block content %}
<h1>Legal</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ullamcorper tincidunt lacus, pulvinar imperdiet tellus aliquam gravida. Integer sed ornare dui. Pellentesque auctor tincidunt hendrerit. Curabitur quis turpis sed purus vestibulum malesuada.
    Nulla interdum purus eu felis pellentesque fringilla. Curabitur diam ante, viverra in leo quis, euismod eleifend tellus. Donec et tortor vitae est cursus tempus. Sed in tincidunt ex, nec venenatis lectus. Sed dignissim malesuada feugiat. Vivamus ac
    libero rutrum, finibus enim porta, scelerisque dolor. Suspendisse potenti. Aliquam a nisi tincidunt, sodales lorem non, ullamcorper quam. Morbi egestas dolor ac felis finibus, eget placerat lectus pulvinar. Quisque justo lectus, interdum nec diam
    quis, sagittis rhoncus ligula.
</p>
{% endblock %}